header{
    text-align:center;
    margin-top:2rem;
    margin-bottom:3rem;
}

nav.barraNavigazione a{
    text-decoration:none;
    border:1px ridge gray;
    border-radius:10px;
    padding:0.5rem 1rem;
    background-color: rgba(50,100,250,0.3);
    color:white;
    box-shadow: 5px 5px 3px black;
    white-space: nowrap;
}

nav.barraNavigazione a:hover{   
    background-color: rgba(50,200,50,0.3);
}

@media screen and (max-width: 600px){
    nav.barraNavigazione{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;            
    }
    nav.barraNavigazione a{
        text-align:center; 
        width:50%;
        margin:1rem auto;
    }
}

@media screen and (min-width: 601px){
    nav.barraNavigazione{
        display:flex;
        flex-direction:row;
        justify-content:flex-start; 
        box-sizing: border-box;   
        flex-wrap: nowrap;
     
    }

    nav.barraNavigazione a{
        margin-left:2rem;    
    }
}